body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 20px;
    line-height: 1.5;
    background-color: white;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
}

header {
    border-bottom: 1px solid #360113;
}

header,
ul {
    display: flex;
}

.logo {
    font-size: 40px;
    font-weight: 500;
    padding: 0 40px 0 15px;
}

a {
    color:#2e0101;
    text-decoration: none;
}

ul {
    margin: 5px;
}

ul a {
    border: 1px solid #5d0517;
    padding: 6px 10px;
    border-radius: 40px;
}

h1 {
    color: aliceblue;
    font-size: 70px;
    font-weight: 700;  
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

main {
    padding: 2px;
}

main p {
    padding-top: 20px;
    text-align: justify;
}

.photobox {
    background-image: url("../images/two-customized-cars-rolling-through-a-city-street.jpg");
    background-position: center;  
    background-repeat: no-repeat;  
    background-size: cover;
    margin-top: 40px;
    background-position: 50% 50%;
    padding: 20% 1% 20% 1%;
    display: block;
}

 .textbox1 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    max-width: 600px;
    box-sizing: content-box;
    text-align: justify;
    display: inline-block;
   
}

.textbox2 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    max-width: 600px;
    box-sizing: content-box;
    text-align: justify;
    display: inline-block;
   
    
}

footer {
    border-top: 2px solid black;
    text-align: left;
    font-size: 20;
}
u {
    color:#2e0101;
    text-decoration: none;
}