body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgb(38, 12, 31);
    width: 100%;
    max-width: 450px;
    height: 90vh;
    max-height: 90vh;
    border: 10px solid rgb(300, 170, 196);
    margin: 5vh auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

a {
    color:black;
    text-decoration: none;
}

h1 {
    color: white;
}

ol {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    
}

.ui_header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(207, 156, 190);
    align-items: center;
    min-height: 65px;
}

.button {
    opacity: 0.6;
    margin: 20px;
}

.footer {
    align-items: flex-end;
    list-style-type: none;
 }

.link_icon {
    padding: 25px 48px;
    background-color: rgb(207, 156, 190);
    color: white;
    font-size: 17px;
    text-align: justify;
}

.link_icon:hover {
    border-bottom: 4px solid white;
}

.navigation_item {
    text-align: center;
    color: white;
    font-size: 12px;
}

.text {
    overflow-y: scroll;
    text-align: justify;
    max-height: 520px;
    background-color: rgb(169, 190, 126);
}

  .text p {
    padding: 5px;
}